# Gradle
.gradle/
build/
out/
bin/
!gradle/wrapper/gradle-wrapper.jar

# IDE
.idea/
*.iml
*.ipr
*.iws
.project
.classpath
.settings/
.vscode/

# OS
.DS_Store
Thumbs.db

# Run & Logs
run/
crash-reports/
logs/
debug.log
